fastapi==0.109.0
uvicorn[standard]==0.27.0
python-multipart==0.0.6
langchain==0.1.152
langchain-community==0.0.20
langchain-huggingface==0.0.10
sentence-transformers==2.2.2
qdrant-client==1.7.0
pypdf==3.14.0
torch==2.1.2
numpy<2
accelerate==0.21.0
python-dotenv==1.0.0
pydantic==2.6.0
pydantic-settings==2.0.0
huggingface-hub==0.16.4